
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<h3>HSC</h3>
<br>
Year - 2019
<br>
GPA - 5.00
<br>
Group - Science
<br>
Institute - Adamjee Cantonement College
<br>
<h3>SSC</h3>
<br>
Year - 2019
<br>
GPA - 5.00
<br>
Group - Science
<br>
Institute - Bindubasini Govt. Boys' High School
<br>
