
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<h4>C++</h4>
<p>Math Game</p>

<h4>OOP1(JAVA)</h4>
<p>Inventory Management</p>

<h4>Data Base(SQL)</h4>
<p>Inventory Management System</p>

<h4>OOP2(C#)</h4>
<p>Travel Management System</p>

<h4>Web Technology</h4>
<p>Tourism Site</p>