
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form action="" method="post">
    <input type="hidden" value="@Model.id" name="id" />
    <input type="text" name="Name" value="@Model.name" />
    <input type="text" name="price" value="@Model.price" />
    <input type="text" name="qty" value="@Model.qty" />
    <input type="submit" value="Edit" />


</form>


